// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
	font-weight:900;
	font-size: 80px;
	color: blue;
}

.heading:hover {
	color: yellow;
}